﻿@model microondas.mvc.ViewModel.MicroondaViewModel

@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-4">
        <div class="row">
            @Html.Label("Programas pré-definidos")
        </div>
        <div class="row">
            <input type="text" id="programa" class="form-control" />
            <button class="btn btn-primary" onclick="buscarPrograma()">Iniciar</button>
        </div>
    </div>
</div>

<br />
<br />
<br />
<div class="row">
    <div class="col-md-4">
        <div class="row">
            @Html.LabelFor(x => x.Tempo)
        </div>
        <div class="row">
            <input id="tempo" type="text" class="form-control" />
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <div class="row">
            @Html.LabelFor(x => x.Potencia)
        </div>
        <div class="row">
            <input id="potencia" type="text" class="form-control" />
        </div>
    </div>
</div>
<br />
<div class="row">

    <input id="display" type="text" class="form-control" placeholder="DISPLAY" readonly />

</div>
<br />
<div class="row">
    <button type="submit" class="btn btn-primary" onclick="Iniciar()">Iniciar</button>
    <button type="submit" class="btn btn-danger" onclick="InicioRapido('30','8')">Iniciar rápido</button>
    <button type="submit" id="pausar" class="btn btn-success hide" onclick="Pausar()">Pausar</button>
    <button type="submit" id="retomar" class="btn btn-success hide" onclick="Retomar()">Retomar</button>
    <button type="submit" id="cancelar" class="btn btn-success hide" onclick="Cancelar()">cancelar</button>

</div>

<hr />

<h3>Programas pré-defidos</h3>
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">Novo</button>

<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Nome</th>
            <th scope="col">Instruções</th>
            <th scope="col">Tempo</th>
            <th scope="col">Potência</th>
            <th scope="col">Aquecer</th>
        </tr>
    </thead>
    <tbody id="tableProgramas"></tbody>
</table>


<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Cadastrar novo programa</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Nome:</label>
                        <input type="text" class="form-control" id="nome">
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="col-form-label">Instrução:</label>
                        <input type="text" class="form-control" id="instrucao">
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="col-form-label">Tempo:</label>
                        <input type="text" class="form-control" id="tempoPrograma">
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="col-form-label">Potencia:</label>
                        <input type="text" class="form-control" id="potenciaPrograma">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                <button type="button" class="btn btn-primary" onclick="adicionarProgramacao()">Salvar</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modalAlert" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="titleModal"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="bodyModal">

            </div>
        </div>
    </div>
</div>

<script>
    var timer;
    function modalAlert(msg) {
        alert(msg);
    }
    function Pausar() {
        clearTimeout(timer);
        $("#pausar").addClass("hide");
        $("#retomar").removeClass("hide");
    }

    function Cancelar() {
        $("#pausar").addClass("hide");
        clearTimeout(timer);
    }

    function Retomar() {
        contagem_tempo();
        $("#pausar").removeClass("hide");
        $("#retomar").addClass("hide");
    }
    var segundos;
    var potencia;
    function Iniciar() {
        try {
            console.log($("#potencia").val() )
            if ($("#potencia").val() == ""  ) {
                $("#potencia").val("10");
            }
            $("#pausar").removeClass("hide");
            $("#cancelar").removeClass("hide");   
            segundos = $("#tempo").val();
            potencia = $("#potencia").val();
            if (segundos > 120)
                throw "Tempo máximo é de 2 minutos";
            if (potencia > 10)
                throw "Potência máxima é de 10";


            contagem_tempo();
        }
        catch (erro) {
            modalAlert(erro);
        }
    }
    function InicioRapido(tempo, pot) {
        $("#pausar").removeClass("hide");
        $("#cancelar").removeClass("hide");   
        segundos = tempo;
        potencia = pot;
        $("#potencia").val(pot);
        $("#tempo").val(tempo);
        contagem_tempo();
    }

    function contagem_tempo(programado) {
        if (programado) {
            $("#display").val(segundos + " " + $("#programa").val());
        }
        else {
            $("#display").val(segundos + " " + adicionarpontos(potencia));
        }
        segundos = segundos - 1;

        if (segundos >= 0) {
            timer = setTimeout("contagem_tempo(" + programado + ")", 1000);
        }
        else {
            $("#display").val("AQUECIDA!!!");
            modalAlert("AQUECIDA!!!")
            $("#pausar").addClass("hide");
            $("#retomar").addClass("hide");
            $("#cancelar").addClass("hide");
        }

    }

    function adicionarpontos(potencia) {
        var pontos = "";
        for (var i = 0; i < potencia; i++) {
            pontos += ".";
        }
        return pontos;
    }

    function getProgramas() {
        $.ajax({
            method: "GET",
            url: "/Home/GetProgramas"
        }).done(function (data) {
            for (var i = 0; i < data.length; i++) {
                $("#tableProgramas").append(
                    "<tr><td>" + data[i].Nome
                    + "</td><td>" + data[i].Instrucao
                    + "</td><td>" + data[i].Aquecimento.Tempo
                    + "</td><td>" + data[i].Aquecimento.Potencia
                    + "</td><td><button class='btn btn-success' onclick=\"aquecimentoProgramado(" + data[i].Aquecimento.Tempo + "," + data[i].Aquecimento.Potencia + ",'" + data[i].Nome + "')\">Aquecer</button>"
                    + "</td></tr >");
            }
        });
    }

    function aquecimentoProgramado(tempo, potencia, nome) {
        $("#pausar").removeClass("hide");
        $("#cancelar").removeClass("hide");   
        if (nome != undefined) {
            $("#programa").val(nome);
        }
        $("#tempo").val(tempo);
        $("#potencia").val(potencia);
        segundos = tempo;
        potencia = potencia;
        contagem_tempo(true);
    }

    function buscarPrograma() {
        $.ajax({
            method: "GET",
            url: "/Home/Pesquisar?programa=" + $("#programa").val()
        }).done(function (data) {
            if (data.Sucesso) {
                aquecimentoProgramado(data.obj.Aquecimento.Tempo, data.obj.Aquecimento.Potencia);
            }
            else {
                modalAlert(data.erro);
            }
        });
    }

    function adicionarProgramacao() {
        $.ajax({
            method: "POST",
            url: "/Home/AdicionarPrograma",
            data: { nome: $("#nome").val(), instrucao: $("#instrucao").val(), tempo: $("#tempoPrograma").val(), potencia: $("#potenciaPrograma").val() }
        }).done(function (data) {
            if (data.Sucesso) {

                $("#tableProgramas").html("");
                for (var i = 0; i < data.programas.length; i++) {
                    $("#tableProgramas").append(
                        "<tr><td>" + data.programas[i].Nome
                        + "</td><td>" + data.programas[i].Instrucao
                        + "</td><td>" + data.programas[i].Aquecimento.Tempo
                        + "</td><td>" + data.programas[i].Aquecimento.Potencia
                        + "</td><td><button class='btn btn-success' onclick=\"aquecimentoProgramado(" + data.programas[i].Aquecimento.Tempo + "," + data.programas[i].Aquecimento.Potencia + ",'" + data.programas[i].Nome + "')\">Aquecer</button>"
                        + "</td></tr >");
                }

                $("#exampleModal").modal("hide");
            }
            else {
                modalAlert(data.erro);
            }
        });
    }

    setTimeout("getProgramas()", 500);
</script>
